*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index:-1;
}

#CodeMirrorDiv {
    position:fixed;
    width:50%;
    left: 50%;
    top:30px;
    height: calc(100% - 30px);
    overflow-x:auto;
    overflow-y:auto;
}

/* Space for the shader list combobox */
#Shaders {
    position:fixed;
    width:50%;
    left: 50%;
    top:0px;
    height:30px;
    background-color: #f5f5f5;
}

#lil-gui {
    z-index: 1;
}

/* ComboBox with the shader list */
#ShaderCombo {
    position:relative;
    padding:2px;
    margin:2px;
    width:400px;
}

/* full height for the editor */
.cm-editor { height: 100% }
.cm-scroller { overflow: auto }


/* width its less than height */
@media screen and (max-width: 767px) and (orientation: portrait) {

    #CodeMirrorDiv {
        display: none;
    }

    #Shaders {
        width:100%;
        left: 0;
        top:auto;
        bottom: 0px;        
    }

    .webgl {
        width:100%;
        height: calc(100% - 20px);
    }
}